body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
  transform: scale(1.02) rotate(2deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #333;
}

input[type="text"] {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  animation: fadeIn 0.5s;
  transition: background-color 0.3s;
}

.task-item:hover {
  background-color: #f0f0f0;
}

.task-name {
  flex-grow: 1;
  margin-left: 10px;
}

.completed .task-name {
  text-decoration: line-through;
}

.actions {
  display: flex;
  gap: 10px;
}

.delete-button,
.edit-button {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.delete-button:hover {
  background-color: #ff3333;
  color: #fff;
}

.edit-button:hover {
  background-color: #007bff;
  color: #fff;
}

.edit-button {
  color: #007bff;
  border: 2px solid #007bff;
}

.delete-button {
  color: #ff3333;
  border: 2px solid #ff3333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}